input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  // margin: -3.2px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 650px;
  height: 27.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #199262;
  border-radius: 0px;
  border: 4.7px solid rgba(0, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 21px;
  width: 21px;
  border-radius: 0px;
  background: #f1b255;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #199262;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 27.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #199262;
  border-radius: 0px;
  border: 4.7px solid rgba(0, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 21px;
  width: 21px;
  border-radius: 0px;
  background: #f1b255;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 27.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #199262;
  border: 4.7px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #199262;
  border: 4.7px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  width: 21px;
  border-radius: 0px;
  background: #f1b255;
  cursor: pointer;
  height: 21px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #199262;
}
input[type=range]:focus::-ms-fill-upper {
  background: #199262;
}
