* {
  box-sizing: border-box
}
::-webkit-scrollbar { 
  display: none; 
}

html {
  font-size: 62.5%;
}

body {
  background: $green;
  color: black;
  font-family: futura;
  font-size: $m-size;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}